.container-1{
    border: 2px solid black;
    width: 50%;
    margin: 0px auto;
    text-align: center;
    background-color: rgb(177, 233, 233);
}
.flex-box-container-1{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-box-container-1 div{
    padding: 10px;
}